<html>

    <body>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mylist of mylist">
                        <td>{{mylist.Subject}}</td>
                        <td>{{mylist.Status}}</td>
                    </tr>
                </tbody>


            </table>
        </div>

    </body>

</html>